*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: whitesmoke;

}
body {
    font-family: "Roboto", sans-serif;
    background-image: url("../bg_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 56, 51);
    padding: 10px;
    font-size: 20px;
}
.logo {
    font-size: 30px;
    position: fixed;
    left: 20px;

    margin-left: 1px;
}

nav ul {
    display: flex;
    gap: 50px;
    /* margin-left: 200px; */
}
nav ul li {
    list-style-type: none;
}
.nav_search {
    background-color: whitesmoke;
    padding: 3px 10px;
    border-radius: 30px;
    align-items: center;
    position: fixed;
    right: 10px;    
}
.nav_search input {
    border: none;
    outline: none;
    width: 220px;
    background-color: whitesmoke;
}
.nav_search button{
    background-color: rgb(111, 238, 196);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
button{
    cursor: pointer;
}
.nav_search i {
    color: rgb(111, 238, 196);
    vertical-align: middle;
}

.page-intro{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 300px;
}
.home-page{
    display: flex;
    gap: 200px;
    margin-top: 100px;
}
#heading-text {
    font-size: 45px;
}
#home-para-text {
    margin-top: 20px;
}
#book-now-btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    color: white;
    background-color: #2f7588;
}
aside {
    background-color: rgb(53, 56, 51);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    left: 0;
    top: 53px;
    bottom: 0;
    padding: 20px; 
    align-items: center;   
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 25px;
}
.vertical-line {
    height: 200px;
    margin-top: 30px;
    border-left: 3px solid whitesmoke;
}
/* aboutUs page */

.about-us {
    width: 77%;
    margin-left: 120px;
    margin-top: 80px;
}
.about-us h1{
    font-weight: 900;
    font-size: 50px;
    font-style: oblique;
}
#about-us-para{
    margin-top: 26px;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(#f4eaea, #b6c1ee)   
}
.our-team{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.our-team h2{
    font-size: 40px;
}
.john-doe img {
    width: 130px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.john-doe{
    border-radius: 10px;
    background: linear-gradient(#f4eaea, #d4d5d9)   
}

/* CONTACT US */
.contact-us{
    display: flex;
    margin-top: 12%;
    margin-left: 300px;
    gap: 100px;
}
#get-in-touch{
    margin-top: 50px;
}
.input-field input{
    width: 350px;
    height: 30px;
    background: inherit;
}
textarea {
    background: inherit;
}
